*.txt
*.tsv
*.sh
.ipynb_checkpoints
__pycache__
!embedding_32.txt
!classification.csv
!pdf_test.csv
!TCRs_train.csv
results/
one2many.py
Untitled.ipynb
plot*
motif.py
loss.py
aug.py
caTCR.py
dist
setup.cfg
tcrpeg.egg-info
.ipynb
test.py
processed_data
processed_daa/